.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoWrapper {
  display: flex;
  align-items: center;
  padding-left: 32px; /* Add space to the left of the logo */
}